.contacts
    padding-bottom: 120px
    &-container
        display: flex
    &-column
        flex-basis: 33.33%
    &-title
        margin-bottom: 30px
        font-size: 16px
        font-weight: 700
        text-transform: uppercase
        &_margin
            margin-top: 50px
    &-item
        display: flex
        align-items: flex-start
        margin-bottom: 25px
        &:last-child
            margin-bottom: 0
        &__name
            margin-right: 25px
        &__value
            max-width: 500px
            a
                color: #000
            .contacts-bold
                font-weight: 700