.breadcrumbs
    padding-top: 55px
    padding-bottom: 30px
    &-container
        display: flex
        flex-wrap: wrap
        align-items: center
    &-item
        color: #000000
        position: relative
        font-size: 16px
        &__dec
            width: 90px
            height: 1px
            background-color: $dustyGray
            margin: 0 20px
    &-item.inactive
        color: $dustyGray