.footer
    background-color: $smalt
    display: flex
    color: #ffffff
    &-left, &-right
        flex-basis: 50%
    &-left
        padding-top: 100px
        padding-bottom: 120px
        padding-left: calc((100% - 1600px) / 2)
        display: flex
        flex-direction: column
        align-items: flex-start
    &-logo
        margin-bottom: 110px
    &-phone
        color: #ffffff
        font-size: 24px
        font-weight: 900
        margin-bottom: 50px
    &-address
        font-size: 20px
        margin-bottom: 50px
        max-width: 460px
    &-email
        font-size: 14px
        font-weight: 500
        color: #ffffff
        margin-bottom: 170px
    &-socials
        display: flex
        &__item
            font-size: 20px
            color: #ffffff
            position: relative
            padding-right: 85px
            margin-right: 35px
            transition: .3s color
            &:hover
                color: $flushOrange
            &:last-child
                margin-right: 0
                padding-right: 0
                &::after
                    display: none
            &::after
                position: absolute
                content: ''
                display: block
                top: 50%
                right: 0px
                width: 50px
                height: 1px
                background-color: #fff
    &-right
        display: flex
        flex-direction: column
        justify-content: space-between
    &-map
        flex-basis: 50%
        width: 100%
    &-special
        flex-basis: 50%
        padding-left: calc(100% - 800px)
        padding-right: calc(100% - 800px)
        padding-top: 70px
        padding-bottom: 35px
        background-color: $resolutionBlue
    &-nav
        margin-right: 170px
        display: flex
        flex-direction: column
        &:last-child
            margin-right: 0
        &__item
            color: #ffffff
            margin-bottom: 20px
            transition: .3s color
            &:hover
                color: $flushOrange
        &__wrapper
            display: flex
            margin-bottom: 90px
    &-bottom
        display: flex
    &-copyright
        font-size: 12px
        margin-right: 127px
        a
            color: #ffffff
            transition: .3s color
            &:hover
                color: $flushOrange
    &-policy
        font-size: 10px
        &__link
            color: #ffffff
            transition: .3s color
            &:hover
                color: $flushOrange

@media (max-width: 1630px)
    .footer 
        &-left
            padding-left: 15px
            padding-top: 80px
            padding-bottom: 100px
        &-special
            padding-top: 50px
            padding-left: 15px
            padding-right: 15px
        &-nav
            &__wrapper
                margin-bottom: 70px

@media (max-width: 1250px)
    .footer
        &-nav
            margin-right: 100px
        &-copyright
            margin-right: 57px

@media (max-width: 1120px)
    .footer
        flex-direction: column
        &-left
            padding: 40px 15px 20px 15px
            align-items: center
        &-logo
            margin-bottom: 30px
        &-address
            text-align: center
            margin-bottom: 20px
        &-phone
            margin-bottom: 30px
        &-email
            margin-bottom: 25px
        &-socials
            &__item
                margin-right: 20px
                padding-right: 50px
                &::after
                    width: 30px
        &-map
            height: 250px
            flex-basis: auto
        &-special
            padding: 15px 15px 20px 15px
        &-nav
            margin: 0 15px
            &:last-child
                margin-right: 15px
            &__wrapper
                width: calc(100% + 30px)
                margin-left: -15px
                margin-bottom: 20px
                justify-content: center
        &-bottom
            flex-direction: column
            align-items: center
            text-align: center
        &-copyright
            margin-right: 0
            margin-bottom: 10px

@media (max-width: 500px)
    .footer
        &-left
            padding-top: 30px
        &-logo
            padding: 16px 20px 20px 20px
            margin-bottom: 20px
            &__img
                width: 130px
        &-phone
            margin-bottom: 20px
        &-address
            font-size: 18px
        &-socials
            &__item
                font-size: 18px
                margin-right: 15px
                padding-right: 45px
                &::after
                    width: 25px
        &-email
            margin-bottom: 20px
        &-nav
            &__wrapper
                margin-bottom: 10px