.catalog
    &-list
        display: flex
        flex-wrap: wrap
        width: calc(100% + 40px)
        margin-left: -20px
        &__item
            margin: 0 20px 40px 20px
            flex-basis: 330px
            flex-grow: 1
    &-menu
        display: flex
        align-items: center
        justify-content: flex-start
        flex-wrap: wrap
        margin-bottom: 70px
        &__item
            font-weight: 700
            padding: 18px 30px
            text-transform: uppercase
            cursor: pointer
            margin-right: 10px
            margin-bottom: 10px
            border: 1px solid transparent
            transition: .3s border-color
            color: #000
            &:last-child
                margin-right: 0
            &:hover
                border-color: $flushOrange
        &__item.active
            border-color: $flushOrange
        &__mobile
            cursor: pointer
            display: none

@media (max-width: 1200px)
    .catalog
        &-menu
            margin-bottom: 50px
            &__item
                padding: 16px 25px
        &-list
            width: calc(100% + 20px)
            margin-left: -10px
            &__item
                flex-basis: 310px
                margin: 0 10px 20px 10px
                
@media (max-width: 900px)
    .catalog
        &-menu
            margin-bottom: 40px
            &__item
                display: none
            &__mobile
                display: block

@media (max-width: 600px)
    .catalog
        &-menu
            margin-bottom: 30px