.collab
    padding-bottom: 140px
    &-container
        display: flex
        justify-content: space-between
        align-items: flex-start
    &-main
        flex-basis: 58.33%
        padding-right: 140px
    &-text
        margin-bottom: 50px
    &-form
        margin: 0
        max-width: 790px
        .app-policy__text
            a
                color: #000
    &-img
        background-repeat: no-repeat
        background-position: center center
        background-size: cover
        flex-grow: 1
        border-radius: 100%
        &__inner
            display: block
            width: 100%
            opacity: 0
            visibility: hidden

@media (max-width: 1500px)
    .collab
        padding-bottom: 120px
        &-main
            padding-right: 100px

@media (max-width: 1300px)
    .collab
        padding-bottom: 100px
        &-main
            padding-right: 70px
        &-text
            margin-bottom: 40px

@media (max-width: 1200px)
    .collab
        padding-bottom: 90px
        &-img
            display: none
        &-main
            flex-basis: 100%
            padding-right: 0
        &-form
            margin: 0 auto

@media (max-width: 1000px)
    .collab
        padding-bottom: 70px
        &-text
            margin-bottom: 30px

@media (max-width: 700px)
    .collab
        padding-bottom: 50px