.work
    &-another
        padding-bottom: 130px
        &__top
            display: flex
            align-items: center
            justify-content: space-between
            margin-bottom: 60px
            &-title
                margin-right: 15px
        &__list
            display: flex
            flex-wrap: wrap
            width: calc(100% + 40px)
            margin-left: -20px
        &__item
            margin: 0 20px 40px 20px
            flex-basis: 520px
            flex-grow: 1
            color: #000
            &-img
                background-repeat: no-repeat
                background-size: cover
                background-position: center center
                margin-bottom: 50px
                &__inner
                    display: block
                    width: 100%
                    opacity: 0
                    visibility: hidden
        &__link
            &-wrapper
                display: none

@media (max-width: 1200px)
    .work
        &-another
            padding-bottom: 100px
            &__top
                margin-bottom: 45px
            &__list
                width: calc(100% + 30px)
                margin-left: -15px
            &__item
                flex-basis: 400px
                margin: 0 15px 30px 15px
                &-img
                    margin-bottom: 40px

@media (max-width: 900px)
    .work
        &-another
            padding-bottom: 70px
            &__top
                margin-bottom: 30px
            &__item
                flex-basis: 350px
                &-img
                    margin-bottom: 30px

@media (max-width: 600px)
    .work
        &-another
            padding-bottom: 50px

@media (max-width: 500px)
    .work
        &-another
            padding-bottom: 40px
            &__top
                margin-bottom: 20px
                &-title
                    margin-right: 0
                &-btn
                    display: none
            &__link
                &-wrapper
                    display: block
                    text-align: center
            &__item
                &-img
                    margin-bottom: 20px