.work
    &-slider
        margin-bottom: 130px
        transform: translateX(150px)
        overflow: visible
        &__item
            background-position: center center
            background-repeat: no-repeat
            background-size: cover
            &-inner
                display: block
                width: 100%
                opacity: 0
                visibility: hidden
        &__bottom
            margin-top: 50px