.work
    &-info
        background-color: #fff
        position: relative
        margin-bottom: 100px
        &::before
            position: absolute
            content: ''
            display: block
            height: 100%
            width: calc((100% - 1600px) / 2)
            left: 0
            top: 0
            background-color: $mercury
        &__container
            padding: 100px 130px 130px 130px
        &__title
            margin-bottom: 35px
        &__text
            font-size: 20px
            margin-bottom: 50px
            &:last-child
                margin-bottom: 0

@media (max-width: 1630px)
    .work
        &-info
            &__container
                padding: 80px 15px
        
@media (max-width: 1400px)
    .work
        &-info
            margin-bottom: 70px
            &__container
                padding: 60px 15px
            &__title
                margin-bottom: 25px
            &__text
                margin-bottom: 35px

@media (max-width: 1200px)
    .work
        &-info
            margin-bottom: 60px
            &__container
                padding: 50px 15px
            &__title
                margin-bottom: 25px
            &__text
                margin-bottom: 30px

@media (max-width: 1000px)
    .work
        &-info
            &__container
                padding: 40px 15px
            &__title
                margin-bottom: 20px
            &__text
                font-size: 18px
                margin-bottom: 20px

@media (max-width: 800px)
    .work
        &-info
            margin-bottom: 40px