.blogCard
    &-slider
        transform: translateX(calc((100% - 1600px) / 2))
        margin-bottom: 90px
        &__item
            background-repeat: no-repeat
            background-position: center center
            background-size: cover
            &-inner
                display: block
                width: 100%
                opacity: 0
                visibility: hidden
        &__bottom
            margin-top: 40px

@media (max-width: 1630px)
    .blogCard
        &-slider
            padding: 0 15px
            transform: translateX(0)

@media (max-width: 1400px)
    .blogCard
        &-slider
            margin-bottom: 70px

@media (max-width: 1000px)
    .blogCard
        &-slider
            margin-bottom: 50px
            &__bottom
                margin-top: 30px