.about
    background-image: url(../img/index/about/bg.jpg)
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    display: flex
    padding-bottom: 150px
    &-main
        background-color: $smalt
        padding-left: calc((100% - 1600px) / 2)
        padding-right: 140px
        padding-bottom: 115px
        padding-top: 90px
        flex-basis: 50%
        color: #ffffff
    &-title
        margin-bottom: 45px
    &-text
        margin-bottom: 20px